<section>
    <div class="container">
      <nav class="navbar">
        <div class="navbar-header">
          <img src="assets/image/logo.png" width="122.997px" height="75px" />
          <hr class="slant-line1" />
          <hr class="slant-line2" />
        </div>
      </nav>
    </div>
  </section>
  <section>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a
          class="navbar-brand"
          href="#"
          style="
            font-size: 16px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
              sans-serif;
            color: black;
          "
          >Models | </a
        >&nbsp;
  
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a
                class="nav-link"
                href="#"
                style="
                  font-size: 16px;
                  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                    sans-serif;
                  color: black;
                "
                >Motorsport & Events <span class="sr-only"></span
              ></a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#"
                style="
                  font-size: 16px;
                  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                    sans-serif;
                  color: black;
                "
                >Service & Accessories
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#"
                style="
                  font-size: 16px;
                  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                    sans-serif;
                  color: black;
                "
                >About Porsche</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link"[routerLink]="['/request']" routerLinkActive="active"
                
                
                style="
                  font-size: 16px;
                  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                    sans-serif;
                  color: black;
                "
                >Request a Test Drive</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </section>
  
