.foot_head{
    font-family: "Arial Narrow", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-decoration: none solid rgb(0, 0, 0);
  word-spacing: 0px;
  }
  .foot_link{
    font-size: 16px;
    font-family:  'Arial Narrow', Arial,
      sans-serif;
    color: #2d2e32;
    cursor: pointer;
    text-decoration: none;
  }
  .foot_link:hover{
      color: #d5001c;
  }