<section>
    <div class="container">
      <hr>
    <div class="row">
      <div class="col-sm-3">
  <h1 class="foot_head">
    Build & Find
  </h1>
  <a class="foot_link">Build Your Porsche</a><br><br>
  <a class="foot_link">Compare Models</a><br><br>
  <a class="foot_link">Search Pre-Owned Cars</a><br><br>
  <a class="foot_link">Find your porsche Centre</a><br><br>
  <a class="foot_link">Download the model range catalogue</a>
      </div>
      <div class="col-sm-3">
  <h1 class="foot_head">
    Online Services
  </h1>
  <a class="foot_link">Porsche Login</a><br><br>
  <a class="foot_link">Sign Up For Porsche News</a><br><br>
      </div>
      <div class="col-sm-3">
  <h1 class="foot_head">
    Behind the Scenes
  </h1>
  <a class="foot_link">Porsche Motorsports</a><br><br>
  <a class="foot_link">Porsche Experience</a><br><br>
  <a class="foot_link">Porsche Classic</a><br><br>
  <a class="foot_link">Visit Porsche Museum</a><br><br>
      </div>
      <div class="col-sm-3">
  <h1 class="foot_head">
    Porsche Company
  </h1>
  <a class="foot_link">Latest News</a><br><br>
  <a class="foot_link">At A Glance</a><br><br>
  <a class="foot_link">Responsibility</a><br><br>
  <a class="foot_link">Jobs & Careers</a><br><br>
  <a class="foot_link">Contact & Information</a><br><br>
  <a class="foot_link">Christophorus-The Porsche Magazine</a><br><br>
      </div>
  
    </div>
  </div>
  </section>
