
<section>
  <div class="container-fluid">
    <div
      id="carouselExampleDark"
      class="carousel carousel-dark slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
          <img src="assets/image/slide3.jpg" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block">
            <div class="slider1">
              <h1>Porsche India</h1>
              <p>Know Of Our Porsche Centre Network In India</p>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="assets/image/slide2.jpg" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/image/slide1.jpg" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
<section class="m-4">
  <div class="text-left">
    <h1>Models</h1>
  </div>
</section>
<section>
  <main class="grid">
    <div class="item">
      <img class="img-thumb" src="assets/image/sec1.jpg" alt="placeholder" />
      <h1 class="label">718</h1>
      <h3 class="label">from INR 8,546,000</h3>
      <div class="build">
        <span>
          Build Your Own
        </span>
      </div>
      <div class="model-btn">
        <span>
          All Models
        </span>
      </div>
    </div>

    <div class="item">
      <img src="assets/image/sec2.jpg" alt="placeholder" />
      <h1 class="label">911</h1>
      <h3 class="label">from INR 16,372,000</h3>
      <div class="build">
        <span>
          Build Your Own
        </span>
        
        
      </div>
      <div class="model-btn">
        <span>
          All Models
        </span>
      </div>
     
    </div>

    <div class="item">
      <img src="assets/image/sec3.jpg" alt="placeholder" />
      <h1 class="label">Taycan</h1>
      <h3 class="label">from INR 20,012,658</h3>
      <div class="build">
        <span>
          Build Your Own
        </span>
      </div>
      <div class="model-btn">
        <span>
          All Models
        </span>
      </div>
    </div>

    <div class="item">
      <img src="assets/image/sec4.jpg" alt="placeholder" />
      <h1 class="label">Panamera</h1>
      <h3 class="label">from INR 14,449,000</h3>
      <div class="build">
        <span>
          Build Your Own
        </span>
      </div>
      <div class="model-btn">
        <span>
          All Models
        </span>
      </div>
    </div>

    <div class="item">
      <img src="assets/image/sec5.jpg" alt="placeholder" />
      <h1 class="label">Macan</h1>
      <h3 class="label">from INR 6,998,000</h3>
      <div class="build">
        <span>
          Build Your Own
        </span>
      </div>
      <div class="model-btn">
        <span>
          All Models
        </span>
      </div>
    </div>

    <div class="item">
      <img src="assets/image/sec6.jpg" alt="placeholder" />
      <h1 class="label">Cayenne</h1>
      <h3 class="label">from INR 12,008,000</h3>
      <div class="build">
        <span>
          Build Your Own
        </span>
      </div>
      <div class="model-btn">
        <span>
          All Models
        </span>
      </div>
    </div>
  </main>
</section>

<section class="m-1">
  <div class="card-car">
    <h1>Find a Porsche near you</h1>
  </div>
</section>
<section class="card">
  <div class="container-fluid">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide
        ><img src="assets/image/card1.jpg" />
        <div class="slider_headline">
          <span>  Find 718 Models </span>
         
        </div>
      </ng-template>
      <ng-template carouselSlide
        ><img src="assets/image/card2.jpg" />
        <div class="slider_headline">
          <span>  Find 911 Models </span>
        </div>
      </ng-template>
      <ng-template carouselSlide
        ><img src="assets/image/card3.jpg" />
        <div class="slider_headline">
          <span>  Find Taycan Models </span>
        </div>
      </ng-template>
      <ng-template carouselSlide
        ><img src="assets/image/card4.jpg" />
        <div class="slider_headline">
          <span>  Find Panamera Models </span>
        </div>
      </ng-template>
      <ng-template carouselSlide
        ><img src="assets/image/card5.jpg" />
        <div class="slider_headline">
          <span>  Find Macan Models </span>
        </div>
      </ng-template>
      <ng-template carouselSlide
        ><img src="assets/image/card6.jpg" />
        <div class="slider_headline">
          <span>  Find Cayenne Models </span>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-5">
        <img class="col1" src="assets/image/col1.jpg">

      </div>
      <div class="col-sm-3">
        <img src="assets/image/col2.jpg">

      </div>
      <div class="col-sm-2">
        <img src="assets/image/col3.jpg">

      </div>
      <div class="col-sm-2">
        <img src="assets/image/col4.jpg">

      </div>

    </div>
  </div>
</section>

<router-outlet></router-outlet>